parameters:
    level: 6
    phpVersion: 80403 #PHP 8.4
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
    reportUnmatchedIgnoredErrors: false
    fileExtensions:
        - php
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
